.main-header {
    background: #282c34;
    min-height: 60px;
    height: 12vh;
    display: flex;
    color: white;
    align-items: center;
    padding: 5px;
}

.main-header .logo {
    max-height: 90%;
    flex: 1;
    max-width: 65px;
}

.main-header h1 {
    padding-left: calc(40% - 75px);
    flex: 3;
}