.main-header {
    display: flex;
    color: white;
    align-items: center;
}

.main-header .logo {
    max-height: 90%;
    flex: 1;
    max-width: 65px;
}

.main-header .title {
    padding-left: calc(45% - 75px);
}