.main-header {
    display: flex;
    color: white;
    align-items: center;
}

.main-header .logo {
    max-height: 90%;
    flex: 1;
    max-width: 40px;
    margin-left: 10px;
}

.main-header .title {
    text-align: center;
    margin-left: -40px;
}