.message-box-container {
    height: fit-content;
    width: fit-content;
    margin: 5px 10px;
    border-radius: 0 5px 5px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;    

}

.message-box-container>header {
    font-size: xx-small;
    color: gray;
    margin-top:-15px;
}

.message-box-container>footer {
    margin-bottom: -5px;
    font-size: xx-small;
    text-align: right;
    color: gray;
}

.message-box-container>article{
    font-size: smaller;
    padding: 2px 0px;
}

.message-box-container.me {
    align-self: flex-end;
}

.message-box-container.me::before {
    display: block;
    position: relative;
    content: "";
    background-color:white;
    height: 10px;
    width:10px;
    right: 10px;
}


.message-box-container.you::before {
    display: block;
    position: relative;
    content: "";
    background-color:white;
    height: 10px;
    width:10px;
    left:-19px;
    top:-10px;
    border-bottom-left-radius: 100%;
}

.chat-page {
    min-height: 100%;
    height: fit-content;
    background-color: aliceblue;
    padding: 5px;
    display: flex;
    flex-direction: column;
}